body{
    background-color: blue;
}
.container{

    background-color: aqua;
    width: 80%;
    margin: 50px auto 10px auto;
display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
}
.container input{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    font-size: 50px;
    color: blueviolet;
    background-color: burlywood;
    border-radius:20px;
}
h1{
   font-size: 50px;
    color: blueviolet;


}
#main{
    text-align: center;
    font-size: 50px;
    color: red;

}

p{
text-align: center;
    color: greenyellow;
    font-size: 50px;
}

